@import 'defines.less';

// Padding & Margins
@padding: 10px;

body {
  background-color: @grey-dk;
  color: @grey-lt;
  font-family: Open Sans, serif;
  margin: 0;
}

.navbar {
  .border-box;
  .logo {
    height: 100%;
  }
  background-color: @grey-md;
  box-shadow: 3px 3px 5px @shadow-color;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: @navbar-height;
  padding: @padding;
  position: fixed;
  top: 0;
  width: 100%;
}

.body-content {
  margin-top: @navbar-height;
}
