@base-url: "/assets";

// Colors
@grey-v-dk: #111;
@grey-dk: #171717;
@grey-md-dk: #222;
@grey-md: #2c2c2c;
@grey-md-lt: #aaa;
@grey-lt: #fefefe;
@shadow-color: #111;

//Fonts
@main-font: Open Sans, serif;

// Sizing
@navbar-height: 60px;

@input-border-radius: 6px;
@input-background-color: #EEEEEE;
@input-border-color: #CAD9F2;

// mixins
.border-box {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.small-shadow {
  box-shadow: 1px 1px 5px -5px @grey-dk;
}