<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Intrigue | <%=title%></title>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/js/app-compiled.js"></script>
    <script src="/js/config-compiled.js"></script>
    <script src="/js/editor_canvas-compiled.js"></script>
    <script src="/js/editor_canvas.directive-compiled.js"></script>
    <script src="/js/editor.service-compiled.js"></script>
    <link rel="stylesheet" href="/css/application.css"/>
    <link href="https://fonts.googleapis.com/css?family=Bitter:400i|Open+Sans:400,700" rel="stylesheet">

</head>
