<div class="navbar">
    <a href="/dashboard" target="_self"><img class="logo" src="/assets/logo_taglessWhite.png"/></a>
    <div class="navbar-right">
        <div class="dropdown">
            <div class="dropbtn">Hello, <%=name%>  <span class="glyphicon glyphicon-chevron-down"></span></div>
            <div class="dropdown-content">
                <a href="#" target="_self">Settings</a>
                <a href="/logout" target="_self">Logout</a>
            </div>
        </div>
    </div>
</div>