<div class="navbar">
    <a href="/dashboard" target="_self"><img class="logo" src="/assets/logo_taglessWhite.png"/></a>
    <form action="/logout" method="post">
        <input value="Hi, <%=name%>!" type="submit">
    </form>
    <!-- TODO(Ariel): Add the user login info -->
</div>