<!DOCTYPE html>
<html lang="en">
<%- include('templates/head', {title: 'Dashboard - ' + name}) %>
<body ng-app="app">
    <%- include('templates/navbar') %>
    <div class="body-content">
        Yo you're all logged in <%=name%><br/>
        <!-- TODO(Ariel): Dear god when angular is hooked up get rid of this -->
        For now, click this button to log out
        <form action="/logout" method="post">
            <input type="submit">
        </form>

        <div ng-controller='AddStoryCrtl'>
            <h1>Add New Story</h1>
            <form role='form'>
                Title: <input type="text" name="title" ng-model="title"> <br/>
                Description: <input type="text" name="description" ng-model="description"> <br/>
                Image: <input type="text" name="image" ng-model="image"> <br/>
                <button ng-click="addStory()" class="btn btn-default"> Add Story </button>
            </form>
        </div>

    </div>
    <script>
        app.controller('AddStoryCrtl', function($scope, $http){
            $http.get('/getStories').success(function (container) {
                $scope.container = container;
            });

            $scope.addStory = function() {
                $http.post('/saveStory',{
                    title : $scope.title,
                    description : $scope.description,
                    image: $scope.image
                }).success(function (obj){
                    console.log(obj);
                }).error(function (err){
                    console.log(err);
                });

            }
        });

    </script>
</body>
</html>