<!DOCTYPE html>
<html lang="en">
<%- include('templates/head', {title: 'Dashboard - ' + name}) %>
<body ng-app="app">
    <%- include('templates/navbar') %>
    <div class="body-content">
        Yo you're all logged in <%=name%><br/>
        <!-- TODO(Ariel): Dear god when angular is hooked up get rid of this -->
        For now, click this button to log out
        <form action="/logout" method="post">
            <input type="submit">
        </form>

        <div ng-controller='StoryCrtl'>
            <h1>Library</h1>
            <div ng-repeat="story in container.data" class="profiles">
                <div class="details">{{story.title}}<br>{{story.description}}</div>
            </div>

            <button id="myBtn">Add New Story</button>
            <%- include('templates/addstoryform.ejs') %>


        </div>

    </div>
    <script>
        app.controller('StoryCrtl', function($scope, $http){
            $http.get('/getStories').success(function (container) {
                $scope.container = container;
            }).error(function (obj){
                console.log(obj)
            });

            $scope.addStory = function() {
                $http.post('/saveStory',{
                    title : $scope.title,
                    description : $scope.description,
                    image: $scope.image
                }).success(function (obj){
                    console.log(obj);
                }).error(function (err){
                    console.log(err);
                });

            }
        });
    </script>
</body>
</html>