<!DOCTYPE html>
<html>
<%- include('templates/head', {title: 'Edit - [TODO: STORY NAME HERE]'}) %>
<body ng-app="app">
    <!-- TODO(Ariel): Figure out width and height based on user's screen display -->
    <div ng-controller="CanvasController">
        <canvas id="canvas" width="800" height="600">
            Your browser doesn't support HTML5 canvas!
        </canvas>
    </div>
</body>
</html>
