<!DOCTYPE html>
<html>
<%- include('templates/head', {title: 'Edit - [TODO: STORY NAME HERE]'}) %>
<body ng-app="app">
    <%- include('templates/navbar') %>
    <div class="body-content canvas-container" ng-controller="CanvasController">
        <canvas id="canvas" width="800" height="600">
            Your browser doesn't support HTML5 canvas!
        </canvas>
    </div>
</body>
</html>
